html {
    margin: 0;
    padding: 0;
    padding-top: 3px;
}
body {
    margin: inherit;
    padding: inherit;
}
.col {
    width: 100%;
    height: 100vh;
    margin-top: 4px;
}
body {
    background: #000;
    color: #0FF;
    font-family: "Roboto", sans-serif;
}

input[type="text"] {
  width: 4em;
  color: #0FF;
  background: #000;
  border: none;
  border-bottom: 1px solid #0FF;
  border-radius: 4px;
}
input[type="button"] {
  color: #0FF;
  background: #000;
  border: none;
  border-bottom: 1px solid #0FF;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border-top: 1px solid #0FF;
}
select {
  background: #000;
  color: #0FF;
  border: none;
  border-bottom: 1px solid #0FF;
  border-radius: 4px;
}
select:focus {
  border-top: 1px solid #0FF;
}
